
html, body {
    height: 100%;
    font-size: 16px;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #353534;
}

a, button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


a:visited {
    color: inherit;
}


h1, h2, h3, h4, h5, h6, ul, p, li {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem 0;
    max-width: 100%;
    overflow: hidden;
    font-family: 'Noto Sans Mono', monospace;
}

.title {
    font-weight: 600;
    font-size: 2.2rem;
    letter-spacing: 0.02em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: 'Noto Sans Mono', monospace;
    text-align: center;
}

.wrapper {
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 100%;
}

.container {
   max-width: 1350px;
   margin: 0px auto;
}

.header__title {
    font-weight: 600;
    font-size: 2rem;
}

.main {
    flex: 1 1 auto;
}

.intro {
   margin: 0 0 3rem 0;
}

.intro__body {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
max-width: 100%;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-ms-flex-line-pack: justify;
    align-content: space-between;
padding: 3%;

}

.intro__1 {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
-webkit-box-flex: 0;
    -ms-flex: 0 1 45%;
        flex: 0 1 45%;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-ms-flex-line-pack: center;
    align-content: center;
max-width: 45%;
}

.intro__picture {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 1rem;
}

.intro__picture img {
border-radius: 50%;
border: 1rem solid #EBB9C6;
max-width: 100%;
width: 22rem;
height: 22rem;


}




.intro__capture {
    max-width: 60%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}


.intro__capture h2 {
font-size: 1.2rem;
text-align: center;
font-weight: 600;
}


.intro__2 {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
max-width: 50%;
border-left: 2px solid black;
-webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
padding-left: 4%;

}

.intro__text h2 {
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: justify;
    margin: 2rem 0;
}

.button__2 {
    max-width: 60%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 auto;
}

.button__txt{
    border: 2px solid #353534;
    border-radius: 2px;
    padding: 1rem;
    background-color: #254361;
    color: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -o-transition: all 0.3s;
}


.button__txt:hover {
    background-color: #EBB9C6;
    color: white;

}

.button__txt:active {
    color: #EBB9C6;
    background-color: white;

}



.problems {
    margin-top: 2rem;
}

.problems__row {
max-width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: distribute;
    justify-content: space-around;

}

.problems__1 {
max-width: 40%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-line-pack: center;
    align-content: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
}


.problems__pic {
-ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-line-pack: center;
    align-content: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.problems__pic img {
max-width: 100%;
height: auto;
-o-object-fit: cover;
   object-fit: cover;
-webkit-box-flex: 1;
    -ms-flex: 1 0 80%;
        flex: 1 0 80%;


}
.problems__list {
max-width: 50%;
padding: 0 0 1rem 3rem;
}

.problems__list li {
 list-style: none;
 font-size: 1.3rem;
 line-height: 2.8rem;
 letter-spacing: 0.1rem;
 -webkit-transition:
-webkit-transform 800ms;
 transition:
-webkit-transform 800ms;
 -o-transition:
transform 800ms;
 transition:
transform 800ms;
 transition:
transform 800ms, -webkit-transform 800ms;

}

.problems__list li:hover {
-webkit-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
        transform: scale(1.1,1.1);
}

.problems__rem {
    font-weight: 600;
    padding: 0 0 0 15rem;
    font-size: 1rem;

}

.consult {
    max-width: 100%;
    background-image: url('https://images.unsplash.com/photo-1588873281272-14886ba1f737?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 2rem;
}


.consult__row {
    text-transform: uppercase;
    font-size: 1.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3rem;
    max-width: 100%;
    max-height: 100%;
    color: white;
    background-color: rgba(22, 22, 22, 0.658);
    line-height: 3rem;
    margin-bottom: 5rem;
}

.consult__row1-txt {
    max-width: 70%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-weight: 600;
    margin-top: 1rem;
}


.consult__row1-txt p {
 padding: 1rem 1rem 0 0

}

.consult__row1-txt li {
    list-style: circle;
    margin: 1rem 0;
}

.consult__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}

.consult__price-col p {
  padding: 0;
}

.features {

}

.features__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    padding: 5rem 0;
}

.features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 23%;
    border: 2px solid rgba(128, 128, 128, 0.616);
    padding: 1rem;
    background-color: rgba(164, 167, 168, 0.288);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


.features__item:hover,
.features__item:focus,
.features__item:active {
        border-color: #254361;
        background-color: #fff;

  }

.features__title {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
    padding: 2rem 0;
}

.fetures__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #254361;
    padding: 0 0 2rem 0;
    height: 20%;
}

.features__txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.features__txt p {
    text-align: center;
    max-width: 100%;
}


.connect {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    font-size: 1.3rem;

}

.connect__txt {
    margin: 1rem auto 0 auto;
}

.connect__photo {

}

.connect__photo img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    border: 0.5rem solid #353534;
    max-width: 100%;
    width: 16rem;
    height: 16rem;

}

.connect__icons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 3rem auto;
    max-width: 65%;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-animation: ballIcon 2.5s;
            animation: ballIcon 2.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

}

.icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 45%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;


}



.icon__txt {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 10px;
}



.fas,
.fab,
.far {
    font-size: 5rem;
}

.fa-at::before {
    content: "\f1fa";
}

.fa-telegram::before {
    content: "\f2c6";
}




.fa-handshake::before {
    content: "\f2b5";
}

.fa-brain::before {
    content: "\f5dc";
}

.fa-hand-holding-heart::before {
    content: "\f4be";
}


@-webkit-keyframes ballIcon {
    from {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
    50% {
        -webkit-transform: translate(0px, 10px);
                transform: translate(0px, 10px);
    }
    to {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
}


@keyframes ballIcon {
    from {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
    50% {
        -webkit-transform: translate(0px, 10px);
                transform: translate(0px, 10px);
    }
    to {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
}

.agreement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.agreement a{
    text-decoration: underline;
}

.agreement__txt {
    text-align: center;
    display: flex;
}


.exp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
    max-height: 100%;
    margin: 3rem 0;
    margin-bottom: 6rem;

}

.exp__txt {
    margin-top: 5rem;
}

.exp__1 {
    max-width: 40%;
    max-height: 100%;
    text-align: right;
    padding-right: 1rem;

}

.exp__1 p {
    padding: 1rem;
    max-width: 20rem;
    font-size: 1.4rem;
}

.exp__1-link {
    text-decoration: underline;
    transition: all 0.2s;
}

.exp__1-link:hover {
    opacity: 0.6;
}

.exp__2 {
    border-left: 2px solid #353534;
    max-width:  40%;
    max-height: 100%;
    text-align: left;
    padding-left: 1rem;

}



.exp__2 p {
    padding: 1rem;
    max-width: 20rem;
    font-size: 1.4rem;
}

.media {
    margin: 3rem auto 5rem auto;
}

.recommend {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

.slider {
    min-width: 0;
    margin-top: 4rem;
}

.youtube__video {
    text-align: center;

}

.youtube__txt {
    font-size: 1.3rem;
    font-weight: 500;
    max-width: 40%;
    margin: 1rem auto;
    text-align: justify;
}

.youtube__video iframe {
    width: 35rem;
    height: 19rem;
}



.slider__item img,
.slider2__item img {
    max-width: 50%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
}

.slider__item p {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
}

.slider2__item {

}

.slider2__item p {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    max-width: 50%;
    margin: 1rem auto;
}


.slick-prev,
.slick-next {
    width: 3rem;
    height: 3rem;
    color: #353534;
    position: absolute;
    top: 50%;
    margin-top: -31px;
    font-size: 0;
    cursor: pointer;
    padding: 0;
}


.slick-prev {
    border-bottom: 0.4rem solid;
    border-left: 0.4rem solid;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border-top: none;
    border-right: none;
    background-color: transparent;
    left: 0;
}


.slick-next {
    border-bottom: 0.4rem solid;
    border-left: 0.4rem solid;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    right: 10px;
    border-top: none;
    border-right: none;
    background-color: transparent;
}

.media__slider {
    min-width: 0;
    margin-top: 4rem;
}

.media__slider .slick-arrow.slick-prev,
.media__slider .slick-arrow.slick-next {
    visibility: hidden;
}





footer {
    border-top: 1px solid #353534;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer {
    margin: 0;
    padding: 0.7rem 1rem;
}

.footer__link {
    transition: all 0.3s;
}

.footer__link:hover {
    opacity: 0.6;
}


                            /* MEDIA */

@media (max-width: 1350px) {
    .container{
        max-width: 1100px;
    };
    html{
        font-size: 14px;
    }

}


@media (max-width: 992px) {
    .container{
        max-width: 760px;
    };
    html{
        font-size: 12px;
    }
    .intro__2 {
        border-left: none;
        max-width: 80%;
        padding-left: 0;
    }

    .intro__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .intro__1 {
        max-width: 100%;
    }


    .button__2 {

        margin: 0 auto;
        padding: 0;
    }

    .consult {
        background-image: url('https://images.unsplash.com/photo-1604881991664-593b31b88488?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
        background-attachment: local;
        background-size: 100%;
    }

    .connect {
        padding-top: 3rem;
    }

}

@media (max-width: 768px) {
    .container{
        max-width: 700px;
        padding: 0 10px;
    }

    html{
        font-size: 10px;
    }

    .intro__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .intro__1 {
        max-width: 100%;
    }

    .intro__2 {
        border-left: none;
        max-width: 80%;
    }

    .button__2 {

        margin: 0 auto;
        padding: 0;
    }

    .intro__capture h2 {
        max-width: 60%;
        margin: 0 auto;
        font-size: 1rem;
    }

    .slider .slick-arrow.slick-prev,
    .slider .slick-arrow.slick-next {
    visibility: hidden;
    }

    .slider2__item p {
        max-width: 50%;
    }

    .youtube__txt {
        max-width: 35rem;
    }


    .features__title {
        font-size: 1.2rem;
    }

    .consult__row1-txt {
        max-width: 100%;
    }

    .footer__txt {
        font-size: 1.2rem;
    }

}


@media (max-width: 576px) {

    .container{
        max-width: 500px;
        padding: 0 10px;
    }

    html{
        font-size: 8px;
    }

    .intro__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .intro__1 {
        max-width: 100%;
    }


    .button__2 {

        margin: 0 auto;
        padding: 0;
    }

    .slider__item img {
    max-width: 70%;
    }

    .features__txt p {
        font-size: 1.3rem;
    }
}



@media (max-width: 395px) {
    .problems__list {
    max-width: 50%;
    padding: 0;
    }

    .button__2 {
        margin: 0 auto;
        padding: 0;
    }
}

